@media (max-width: 731px) {
  .brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  a.brand {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .search button {
    border-radius: 0 0.5rem 0.5rem 0;
    border-right: none;
    margin-right: 3.5rem;
    display: none;
  }

  .search input {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
    margin-left: 0.5rem;
    display: none;
  }
  .active {
    font-weight: bold;
    display: none;
  }
  .navbar-user-rsp {
    font-size: 14px;
    padding-left: 14rem;
    padding-top: 2rem;
  }
  .navbar-admin-rsp {
    font-size: 14px;
  }
  .rsp-home {
    padding-top: 5rem;
  }
  .indi-product-rsp {
    padding-top: 6rem;
  }
  .rsp-cart {
    padding-top: 5rem;
  }
  .navbar-rsp {
    /* top: 0;
    position: fixed; */
    padding-left: 14rem;
    padding-top: 2rem;
  }
  .pindi-name-rsp {
    font-size: 15px;
  }
}
